.container{
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
}

.title{
    margin-bottom: 10px;
    font-weight: 200;
    color: var(--textSoft);
}

.table{
    width: 100%;

}

.table td{
    padding: 10px;
}

.outlet{
    display: flex;
    gap: 10px;
    align-items: center;
}

.outletImage{
    object-fit: cover;
    border-radius: 50%;
}

